html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #23271b;
    transition: background-color 0.5s;
}
.rectangle {
    position: fixed;
    top: 25px;
    right: 25px;
    width: 260px;
    height: 85px;
    background-color: #535e40;
    border-radius: 20px;
    border: none;
    border-top: 1px solid #202419;
    box-sizing: border-box;
}
.square {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    width: 60px;
    height: 60px;
    background-color: #202419;
    border-radius: 10px;
    cursor: pointer;
    transition: none;
}
.square.animating {
    animation: moveAndColor 0.8s forwards;
}
@keyframes moveAndColor {
    0% { left: 10px; background-color: #202419; }
    100% { left: calc(100% - 10px - 60px); background-color: #ced5c3; }
}
body.light {
    background-color: #9dac86;
}
body.light .rectangle {
    border-top-color: #ffffff;
}
body.light .square {
    background-color: #809164;
    left: calc(100% - 10px - 60px);
}
